<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href = "{{ url_for('static', filename = 'styles.css') }}">
        <title>My Portfolio</title>
    </head>
    <body>
        <section class = "header">
            <img src="{{url_for('static', filename='Mewing.jpg')}}" />
            <!-- This is for your name and an image of you -->
             <p>My name: Adam, class:7.3 and I like to play soccer and like to hear music and my favorite music is Thick Of It </p>
        </section>

        <section class = "info">
            <!-- This is for other information project-->
             <p>This is a normal wordle game nothing happens!</p>
            <a  href = "{{url_for('wordle_page')}}" class = "button-link" >Next Page</a>
            
        
        </section>

        <footer>
            <!-- Your contact information (make it up dont use ur real one) -->
             <p>Phone number: +1(646) 770-5901</p>
        </footer>
    </body>
</html>